body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #260fbf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: auto; /* ця лінія здається зайвою, оскільки `auto` - це значення за замовчуванням для `max-width` */
  margin: 0 auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: #0b3d9a;
  padding: 10px;
  margin-bottom: 5px;
}

input[type='text'] {
  max-width: calc(30% - 10px);
  flex: 1;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0;
  display: inline-block;
}

button[type='submit'] {
  background-color: #f9f5f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  display: flex;
}

.photo-card {
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photo-card img {
  max-width: 100%;
  height: auto;
  flex: 1;
  width: 100%;
}

.info {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  gap: 10px;
  flex: 1;
}

.load-more {
  display: none;
  margin: 20px auto;
  background-color: #0d2b4b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.load-more.show {
  display: block;
}
